.item {
    margin: 1rem 0;
    background-color: white;
    padding: 1rem;
  }
  
  .item h3 {
    margin: 0 0 0.5rem 0;
    font-size: 1rem;
  }
  
  .item header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  
  .details {
    display: flex;
   
    
    align-items: center;
    height: 150px;
  }
  .item_image{
    width: 397px;
    height: 100px;
    text-align: center;

  }
  .item_image img{
    height: 100px;
  }
  .quantity{
    margin-left: 0.5rem;
    padding: 0.15rem 1rem;
  }
  .quantity span {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .price {
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
    width: 397px;
    text-align: center;
  }
  
  .itemprice {
    font-weight: bolder;
    font-size: 1rem;
    font-style: italic;
    color: black;
  }
  .item_model{
    font-weight:bold;
    font-size: 1rem;
    font-style: italic;
    color: black;
  }
  .actions {
    display: flex;
    margin: 0.5rem 0;
    width: 397px;
    justify-content: center;

  }
  
  .actions button {
    background-color: transparent;
    border: 1px solid white;
    margin-left: 0.5rem;
    padding: 0.15rem 1rem;
    color: black;
    font-size: 1.5rem;
    background-color: #4b4b4b;
    width: 45px;
    text-align: center;
    border-radius: 20px;
  }
  
  .actions button:hover,
  .actions button:active {
    background-color: #4b4b4b;
    color: white;
  }

  .CartItem li{
    list-style: none;
    height: 200px;
    
  }
 
  @media screen and  (max-width:768px) {
.details{
  display: inline-block;
}

    .item{
      background-color: red;
    }
  }